<div class="registration-container">
  <h2>Registration Form</h2>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" id="email" formControlName="email" />
      <div class="error-message" *ngIf="registrationForm.get('email').hasError('required')">Email is required.</div>
      <div class="error-message" *ngIf="registrationForm.get('email').hasError('email')">Invalid email format.</div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password" />
      <div class="error-message" *ngIf="registrationForm.get('password').hasError('required')">Password is required.</div>
      <div class="error-message" *ngIf="registrationForm.get('password').hasError('minlength')">Password must be at least 6 characters long.</div>
    </div>


    <button class="submit-button" type="submit" [disabled]="registrationForm.invalid">Log In</button>
  </form>
  <p color="primary">Did'nt have an account <button mat-raised-button color="accent" (click)="openDialog()">Register</button></p>
</div>
