<footer class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h5 class="mb-4">Explore</h5>
          <ul class="list-unstyled">
            <li><a href="#">Homes</a></li>
            <li><a href="#">Experiences</a></li>
            <li><a href="#">Places</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5 class="mb-4">About</h5>
          <ul class="list-unstyled">
            <li><a href="#">How Jewels@99 works</a></li>
            <li><a href="#">Newsroom</a></li>
            <li><a href="#">Investors</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5 class="mb-4">Community</h5>
          <ul class="list-unstyled">
            <li><a href="#">Diversity & Belonging</a></li>
            <li><a href="#">Accessibility</a></li>
            <li><a href="#">Jewels@99 Associates</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5 class="mb-4">Support</h5>
          <ul class="list-unstyled">
            <li><a href="#">Help Center</a></li>
            <li><a href="#">Cancellation options</a></li>
            <li><a href="#">Contact us</a></li>
          </ul>
        </div>
      </div>
      <hr class="my-4" />
      <div class="row">
        <div class="col-md-6">
          <p>&copy; 2023 Jewels@99. All rights reserved.</p>
          <div class="social-links">
            <a href="#" class="mr-3"><i class="fab fa-facebook"></i></a>
            <a href="#" class="mr-3"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
        <div class="col-md-6 text-md-right">
          <ul class="list-inline mb-0">
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            <li class="list-inline-item"><a href="#">Terms of Service</a></li>
            <li class="list-inline-item"><a href="#">Sitemap</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>