

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/index.html">
        <img
          src="assets/Logo.png"
          alt="Logo"
          width="40"
          style="border-radius: 50%"
        />
        Jewel@99
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/html/about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/html/login.html">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/html/register.html">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/html/favorites.html">
              <i class="fas fa-heart btn-icon"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/html/cart.html"
              ><i class="fas fa-shopping-cart"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <section>
      

   
    </section>
  
    <!-- <script src="/javascript/products.js"></script>
    <script src="javascript/mongo.js" type="module"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
