<mat-toolbar class="mat-toolbar">
  <a routerLink="" class="navbar-brand">
    <img
      src="assets/Logo.png"
      alt="Logo"
      width="40"
      style="border-radius: 50%"
    />
    Jewel@99
  </a>

  <!-- Links displayed in a row for larger screens -->
  <div class="desktop-links" *ngIf="!isMobileView">
    <a
      mat-button
      routerLink="/about"
      >About</a
    >
    &nbsp;
    &nbsp;
    &nbsp;
    <a
      mat-button
      (click)="openDialog()"

      >Sign in</a
    > &nbsp;
    &nbsp;
    &nbsp;
    <a
      mat-button
      (click)="openDialog()"

      >Sign up</a
    > &nbsp;
    &nbsp;
    &nbsp;
    <a
      mat-button
      routerLink="/favorites"
      >Favorites</a
    >
    &nbsp;
    &nbsp;
    &nbsp;
    <a
      mat-button
      routerLink="/cart"
      ><mat-icon>shopping_cart</mat-icon>
      <span class="badge badge-pill badge-primary">{{ cartCount }}</span>
      </a
    >
  </div>

  <!-- Dropdown menu for mobile -->
  <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="isMobileView">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Dropdown menu content -->
  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      routerLink="/about"
    >
      About
    </button>
    <button
      mat-menu-item
      (click)="openDialog()"
    >
      Log In
    </button>
    <button
      mat-menu-item
      (click)="openDialog2()"

    >
      Register
    </button>
    <button
      mat-menu-item
      routerLink="/favorites"
    >
      Favorites
    </button>
    <button
      mat-menu-item
      routerLink="/cart"
    >
    <mat-icon>shopping_cart</mat-icon>
    <span class="badge badge-pill badge-primary">{{ cartCount }}</span>

    </button>
  </mat-menu>
</mat-toolbar>
